.left-panel {
    min-height: 100vh;
    padding: 1em;
    background-color: var(--main-color);
    color: var(--white-color);
}

.left-panel__project-title {
    font-size: 1.5em;
}

.left-panel__members {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.left-panel__members-title {
    margin: 0;
}

.left-panel__add-member {
    border: 0;
    border-radius: 0.25em;
    width: 3em;
    background: var(--violet);
    color: white;
}

.member-list {
    list-style: none;
    padding: 0;
}

.member-list__member {
    margin-top: 0.5em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.member-list__remove-member {
    border: 0;
    border-radius: 0.25em;
    width: 1em;
    background: var(--red);
    color: white;
}